body {
    background-color:white;
}

header {
    height: 100px;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
}
/* Normalize */
h1 {
    margin: 0px;
    padding: 0;
}

div {
    margin: 0px;
    padding: 0px;
}

#content {
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: lightgrey;
}

#svg {
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

#content{
    position: inherit;
    width: 90%;
    margin: auto;
}

#graphic {
    width: 95%;
    height: 500px;
    margin:auto;
}