html, body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

#svg {
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

#content{
    position: inherit;
    width: 100%;
    margin: auto;
}

#graphic {
    height: 70%;
    margin:auto;
    border: 1px solid #343443;
    overflow: scroll;
}

#toolbar {
    margin: auto;
    position: relative;
    display: inline;
}
#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#toolbar li {
    float: left;
}

#toolbar li:hover {
    background-color: #9f9f9f;
}

#toolbar li a{
    display: block;
    text-decoration:none;
    padding:10px;
    text-align: center
}

