html,
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 2px solid #393939;
    box-shadow: 0px 5px #171717;
    padding: 20px;
    background-color: #efefef;
    z-index: -1;
    margin-bottom: 10px;
}

#title {
    display: inline;
}

#navbar {
    margin: auto;
    position: relative;
    float: right;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center
}

#navbar li:hover {
    background-color: #d9d9d9
}

#tensys {
    display: block;
    position: relative;
    width: 95%;
    height: 100%;
}

#holder {
    position: relative;
    height: 40em;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#filters {
    border-left: 1px black solid;
    float: right;
    width: 25%;
    height: 100%;
    position: relative;
    display: block;
    box-shadow: -5px 0px #343434;
    z-index: 1;
}

iframe {
    border: none;
    height: 100%;
    margin: auto;
}

footer {
    display: block;
    position: relative;
    height: 10%;
    background-color: #b4ffff;
}

#items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#items ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.card {
    display: flex;
    width: 400px;
    height: 300px;
    background-color: #e9e9e9;
    border: solid 1px black;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#login {
    position: absolute;
    top: 20%;
    width: 40%;
    height: 50%;
    background-color: #e9e9e9;
    
}