html, body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 2px solid #393939;
    box-shadow: 0px 5px #171717;
    padding:20px;
    background-color: #efefef;
    z-index: -1;
    margin-bottom: 10px;
}

#title {
    display: inline;
}

#navbar {
    margin: auto;
    position: relative;
    float:right;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}
#navbar li a{
    display: block;
    text-decoration:none;
    padding:10px;
    text-align: center
}

#tensys {
    display:block;
    position: relative;
    width: 95%;
    height: 100%;
}

#holder {
    position: relative;
    height: 40em;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

iframe {
    border: none;
    height: 100%;
    margin: auto;
}

footer {
    display: block;
    position: relative;
    height: 10%;
    background-color: #b4ffff;
}